{% extends 'base.html' %}

{% block content %}
    <h1>Admin Panel</h1>

    <h2>All Users</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.date_created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>All Notes</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
                <th>Category</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.content }}</td>
                <td>{{ note.user.username }}</td>
                <td>{{ note.category.name if note.category else 'No Category' }}</td>
                <td>{{ note.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
